<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <servlet>
    <servlet-name>abc</servlet-name>
    <servlet-class>com.JSPPracrice.AddTwoNumbers</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>abc</servlet-name>
    <url-pattern>/add</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>qrt</servlet-name>
    <servlet-class>com.JSPPracrice.SqServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>qrt</servlet-name>
    <url-pattern>/sq</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AttendenceServlet</display-name>
    <servlet-name>AttendenceServlet</servlet-name>
    <servlet-class>com.tata.ams.controller.AttendenceServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AttendenceServlet</servlet-name>
    <url-pattern>/AttendenceServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.tata.ams.controller.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InsertStudentProcess</display-name>
    <servlet-name>InsertStudentProcess</servlet-name>
    <servlet-class>com.tata.ams.dao.InsertStudentProcess</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertStudentProcess</servlet-name>
    <url-pattern>/InsertStudentProcess</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateStudentProcess</display-name>
    <servlet-name>UpdateStudentProcess</servlet-name>
    <servlet-class>com.tata.ams.dao.UpdateStudentProcess</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateStudentProcess</servlet-name>
    <url-pattern>/UpdateStudentProcess</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteStudentProcess</display-name>
    <servlet-name>DeleteStudentProcess</servlet-name>
    <servlet-class>com.tata.ams.dao.DeleteStudentProcess</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteStudentProcess</servlet-name>
    <url-pattern>/DeleteStudentProcess</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InsertStaffProcess</display-name>
    <servlet-name>InsertStaffProcess</servlet-name>
    <servlet-class>com.tata.ams.dao.InsertStaffProcess</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertStaffProcess</servlet-name>
    <url-pattern>/InsertStaffProcess</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateTeacherProcess</display-name>
    <servlet-name>UpdateTeacherProcess</servlet-name>
    <servlet-class>com.tata.ams.dao.UpdateTeacherProcess</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateTeacherProcess</servlet-name>
    <url-pattern>/UpdateTeacherProcess</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteStaffProcess</display-name>
    <servlet-name>DeleteStaffProcess</servlet-name>
    <servlet-class>com.tata.ams.dao.DeleteStaffProcess</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteStaffProcess</servlet-name>
    <url-pattern>/DeleteStaffProcess</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AttendanceProcess</display-name>
    <servlet-name>AttendanceProcess</servlet-name>
    <servlet-class>com.tata.ams.service.AttendanceProcess</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AttendanceProcess</servlet-name>
    <url-pattern>/AttendanceProcess</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AttendanceDetails</display-name>
    <servlet-name>AttendanceDetails</servlet-name>
    <servlet-class>com.tata.ams.service.AttendanceDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AttendanceDetails</servlet-name>
    <url-pattern>/AttendanceDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckAttendanceStatus</display-name>
    <servlet-name>CheckAttendanceStatus</servlet-name>
    <servlet-class>com.tata.ams.service.CheckAttendanceStatus</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckAttendanceStatus</servlet-name>
    <url-pattern>/CheckAttendanceStatus</url-pattern>
  </servlet-mapping>
</web-app>